# Weights & Biases Configuration
WANDB_API_KEY="YOUR_WANDB_API_KEY_HERE"

# Optional: Specify your W&B entity (username or team name)
WANDB_ENTITY="your_entity"

# Optional: Default W&B project name if not set in train_config.json
WANDB_PROJECT="your_project_name"

# AI API keys
GEMINI_API_KEY="your_gemini_key"

# PASSWORDS
UI_PASSWORD = "adminadmin123"